RewriteCond %{HTTPS} off 

RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^espressoselftucson.com [NC]

RewriteRule ^(.*)$ https://www.espressoselftucson.com/$1 [L,R=301]